{% macro dropdown(content,numberOfItems,links) %}
<div class="dropdown is-active">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
        <span>{{content}}</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
      <div class="dropdown-content">
            {% for i in 0..numberOfItems %}
                <a href="{{ link }}" class="dropdown-item"></a>
                <hr class="dropdown-divider">
            {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}