<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
Redirect 301 /fr http://www.ecogolf-ariege.fr
Redirect 301 /jouer/calendrier http://www.ecogolf-ariege.fr/competitions
Redirect 301 jouer/tarif-des-green-fees http://www.ecogolf-ariege.fr/prices
Redirect 301 /les-parcours http://www.ecogolf-ariege.fr/about
Redirect 301 /jouer/reservation-depart http://www.ecogolf-ariege.fr/competitions
Redirect 301 /ecogolf http://www.ecogolf-ariege.fr
Redirect 301 /se-loger http://www.ecogolf-ariege.fr
</IfModule>
