<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.html.twig" %}
</head>
<body>
    {% include "admin/partials/admin_header.html.twig" %}
    {% block content %}
    {% endblock %}
</body>
</html>