<section id="about-view">
	<div class="about-view-container">
		<h3 id="about-gallery-title" class="t-d-center t-d-2 sub-title text-center">{{ about.view[0]}}</h3>
		<div class="scene">
			<div class="carousel3d">
				<div class="carousel3d-item">
					<img src="storage/slide1.jpg" alt>
				</div>
				<div class="carousel3d-item">
					<img src="storage/slide2.jpg" alt>
				</div>
				<div class="carousel3d-item">
					<img src="storage/slide3.jpg" alt>
				</div>
				<div class="carousel3d-item">
					<img src="storage/slide4.jpg" alt>
				</div>
				<div class="carousel3d-item">
					<img src="storage/slide5.jpg" alt>
				</div>
				<div class="carousel3d-item">
					<img src="storage/slide6.jpg" alt>
				</div>
				<div class="carousel3d-item">
					<img src="storage/vue_haut_2.jpg" alt>
				</div>
				<div class="carousel3d-item">
					<img src="storage/vue_haut.jpg" alt>
				</div>
			</div>
		</div>
		<div class="carousel3d-options">
			<p>
				<button class="previous-button ecg-btn btn-large">Précédent</button>
				<button class="next-button ecg-btn btn-large">Suivant</button>
			</p>
		</div>
	</div>

</section>
