<footer>
    <div class="contact">
        <h2 class="footer-c-title">ECOGOLF Ariège-Pyrénées</h2>
        <p> <i class="fas fa-phone-square-alt"></i>
            05 61 64 56 78</p>
        <p><i class="fas fa-map-marker-alt"></i>
            09240 Unjat La Bastide de Sérou</p>
    </div>
    <div class="social">
        <h4 class="footer-s-title">{{footer}}</h4>
        <div class="footer-s-icon">
            <a href="https://www.facebook.com/GolfUnjat/"><i class="fab fa-facebook-square"></i></a>
        </div>
        <div class="footer-s-icon">
            <i class="fab fa-instagram"></i>
        </div>       
    </div>
	    <!-- Start / Chronogolf Widgets -->
	<div class="chrono-bookingbutton"></div>
	<script>
  	window.chronogolfSettings = {
    	"clubId" : "18489",
    	"locale" : "fr-FR"
  	};
  	// Optional
  	window.chronogolfTheme = {
    	"color"  : "#385d41"
  	};
	</script>
	<script>
  	!function(d,i){if(!d.getElementById(i)){var s=d.createElement("script");
  	s.id=i,s.src="https://cdn2.chronogolf.com/widgets/v2";
  	var r=d.getElementsByTagName("script")[0];
  	r.parentNode.insertBefore(s,r)}}(document,"chronogolf-js");
	</script>
	<!-- End / Chronogolf Widgets -->
</footer>
