<div class="pagination is-small" role="navigation" aria-label="pagination">
    <a class="pagination-previous" href="{{ prev }}">Précedent</a>
    <a class="pagination-next" href="{{ next }}">Suivant</a>
</div>