<div id="home-carousel">
        {% for logo in logos %}
            <div class="carousel-item">
                <div class="carousel-item-img">
                    <img class="p-logo" src="storage/p_logo/{{ logo }}" alt="">
                </div>
                {#}
                <div class="carousel-item-body">
                    <div class="carousel-item-title">Un titre</div>
                    <div class="carousel-item-desc">Une description</div>
                </div>
                #}
            </div>
        {% endfor %}
</div>