<div style="background:var(--golfDarkTurquoise );padding:20px;border-radius:7px;width:75%;" class="special-info m-auto">
    <h2 class="text-center is-size-3 is-ecg-danger">Covid-19</h2>
    <div style ="padding:20px;">
	<h3 style="text-align:center;font-size:1.1rem;">L'Ecogolf Ariège-Pyrénées est heureux de vous annoncer sa réouverture LUNDI 11 mai.<h3>
	<p style="text-align:center;padding:0;">Nous vous remercions de prendre connaissance du protocole et des mesures barrières élaborées par la Fédération Française de Golf.<br>
	<a style="word-break:break-word;" class="is-default-link" href="https://www.ffgolf.org/Jouer/Covid-19-les-modalites-de-reprise-du-jeu-au-11-mai">https://www.ffgolf.org/Jouer/Covid-19-les-modalites-de-reprise-du-jeu-au-11-mai</a>
	</p>
	
		<p style="text-align:center;padding:0.2rem;">L'accueil de l'Ecogolf sera ouvert tous les jours de 8H à 17H30.</p>
		<p style="text-align:center;padding:0.2rem;">Nous vous informons que les réservations sont obligatoires afin de pouvoir contrôler le flux sur notre site.</p>
		<p style="text-align:center;padding:0.2rem;">Il est demandé d'arriver au plus tôt 30 minutes avant votre départ et de repartir immédiatement à l'issue de votre partie.</p>
		<p style="text-align:center;padding:0.2rem;">Du gel hydroalcoolique sera à votre disposition à l'accueil, au practice, au trou n°1, 10 et 18.</p>
		<p style="text-align:center;padding:0.2rem;">Les locations de chariots électriques et de voiturettes seront possibles sous certaines conditions.</p>
	
	<p style="text-align: center;">
		Merci de contacter l'accueil au 05.61.64.56.78 pour toutes informations complémentaires.
	</p>
	<p style="text-align: center;">
		Nous comptons sur votre responsabilité pour respecter les mesures mises en place, gage de maintien de l’ouverture de notre site.
	</p>
	<p style="text-align: center;">
		Nous avons hâte de vous accueillir.<br>
		Bien cordialement,<br>
		<span style="font-size:1.5em;">L'équipe de l'Ecogolf.</span>	
	</p>
    </div>
</div>
