{% extends "layout.html.twig" %}
{% block content %}
<section class="form-page-bg">
  <div class="form-bg-filter"></div>
  <div class="ecg-form-container container">
    <div class="form-wrapper">
      <div class="form-image">
        <img class="form-img" src="/storage/contact2.jpg" alt="photo d'un golfeur sur le green">
      </div>
        <div class="contact-email-container">
          <h2 class="ecg-form-title">Contactez-nous</h2>
          <div class="email-box">
            <i class="far fa-envelope"></i>
            <span>golf-club-de-lariege@wanadoo.fr</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}