<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.html.twig" %}
</head>
<body>
    <div class="vh-100 columns mb-0 is-centered is-vcentered">
        <div class="column is-half">
             <div class="notification is-danger">
                <h2 class="subtitle is-2 text-center">{{ message }}</h2>
            </div>
        </div> 
    </div>    
</body>
</html>