<header class="admin-header">
    <nav role="navigation">     
        <ul class="header-menu">
            <li><a href="/">Voir le site</a></li>
            <li><a href="/admin/index">Acceuil</a></li>
            <li><a href="/admin/events">calendrier</a></li>
            <li><a href="/admin/articles">le blog</a></li>
            <li><a href="/admin/gprix">Grand prix</a></li>
            <li><a href="/admin/logout">Déconnexion</a></li>
        </ul>        
    </nav>
     <div id="hamburger">☰</div>
</header>
